// fonts
$ff-heading: 'Arvo', serif;
$ff-common: 'Montserrat', sans-serif;

//colors
$white: rgb(255, 255, 255);
$headerColor:  rgb(63, 124, 139);
$text: rgb(41, 41, 41);
$focus: rgb(197, 197, 197);
$UIcolor: rgb(56, 56, 56);
$background: rgb(204, 204, 204);
$footerbackground: rgb(102, 102, 102);
$footerText: rgb(204, 204, 204);
$modalbackground: rgba(0, 0, 0, 0.8);