@import '../../variables';

.Header {
    min-width: 850px;
    padding: 5px;
    background-color: $headerColor;
    flex-basis: 100%;

    &Wrapper {
        margin: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}